# Terraform
.terraform/
.terraform.*
terraform.tfstate
terraform.tfstate.*
*.tfstate.backup
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Local env and OS files
*.pem
*.key
*.iml
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
node_modules/

